<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#"><img src="assets/logo.jpg" width="60px" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-light me-2" aria-current="page" href="#">My Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light me-2" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light me-2 " href="#" tabindex="-1" aria-disabled="true">Contact us</a>
              </li>
            </ul>

            <div>
            <li class="nav-item list-unstyled">
              <button href="#" class="btn btn-success me-4" (click)="cart()">
                <i class="fa fa-shopping-cart"></i>
              </button>
            </li>
            </div>

            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success text-light" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <!--Carousel Images Start-->
<div class="container-fluid me-2">
  <div class="col">


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="assets\jioMart.jpg"  class="d-block" width="100%" height="auto" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets\1.jpg"  class="d-block" width="100%" height="auto" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets\2.jpg"  class="d-block" width="100%" height="auto" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>
</div>
<!--Carousel End-->

</body>
</html>